<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <!-- 
    以下内容仅用于为引用此库的独立可执行文件提供 Trace 监听示例使用。
    由于此项目是一个类库，因此这个文件其实并无卵用。
  -->
  <system.diagnostics>
    <sources>
      <source name="Magik" switchName="Magik.Switch">
        <listeners>
          <add name="console" />
        </listeners>
      </source>
      <source name="Magik.AcademicSearch" switchName="Magik.Switch">
        <listeners>
          <add name="console" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="Magik.Switch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="console" type="System.Diagnostics.ConsoleTraceListener" >
        <!--<filter type="System.Diagnostics.EventTypeFilter" initializeData="Error" />-->
      </add>
    </sharedListeners>
  </system.diagnostics>
</configuration>
