<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <appSettings>
    <!-- use appSetting to configure base address provided by host -->
    <add key="BaseAddresses" value="http://+:9000/" />
    <add key="ASClient.UseUltimateKey" value="true" />
    <add key="ASClient.PagingSize" value="1000" />
    <!-- { d |[d.]hh:mm[:ss[.ff]] } -->
    <add key="Analyzer.CacheTimeout" value="00:01:00" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="Magik" switchName="Magik.Switch">
        <listeners>
          <add name="console" />
          <add name="logFile" />
        </listeners>
      </source>
      <source name="Magik.Timers" switchName="Magik.Timers.Switch">
        <listeners>
          <add name="console" />
          <add name="logFile" />
        </listeners>
      </source>
      <source name="Magik.AcademicSearch" switchName="Magik.AcademicSearch.Switch">
        <listeners>
          <add name="console" />
          <add name="logFile" />
        </listeners>
      </source>
      <source name="Microsoft.Owin" switchName="Microsoft.Owin.Switch">
        <listeners>
          <add name="console" />
          <add name="logFile" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="Magik.Switch" value="Information" />
      <add name="Magik.Timers.Switch" value="Verbose" />
      <add name="Magik.AcademicSearch.Switch" value="Warning" />
      <add name="Microsoft.Owin.Switch" value="Verbose" />
    </switches>
    <sharedListeners>
      <add name="console" type="System.Diagnostics.ConsoleTraceListener">
        <!--<filter type="System.Diagnostics.EventTypeFilter" initializeData="Information" />-->
      </add>
      <add name="logFile" type="System.Diagnostics.TextWriterTraceListener" traceOutputOptions="DateTime, ThreadId" initializeData="MagikServer.log">
        <!--<filter type="System.Diagnostics.EventTypeFilter" initializeData="Verbose" />-->
      </add>
    </sharedListeners>
  </system.diagnostics>
</configuration>
