<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="Magik" switchName="Magik.Switch">
        <listeners>
          <add name="test" />
        </listeners>
      </source>
      <source name="Magik.AcademicSearch" switchName="Magik.AcademicSearch.Switch">
        <listeners>
          <add name="test" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="Magik.Switch" value="Verbose"/>
      <add name="Magik.AcademicSearch.Switch" value="Verbose"/>
    </switches>
    <sharedListeners>
      <add name="test" type="UnitTestProject1.TestInitializer+TestContextTraceListener,UnitTestProject1" />
    </sharedListeners>
  </system.diagnostics>
</configuration>