<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="Magik" switchName="Magik.Switch">
        <listeners>
        </listeners>
      </source>
      <source name="Magik.Academic" switchName="Magik.Switch">
        <listeners>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>